<div class="p-4 flex items-center justify-center h-full">
  <div
    class="p-4 w-2/4 bg-white rounded-lg border border-gray-200 shadow-md sm:p-6 lg:p-8"
  >
    <form id="form" class="space-y-6" action="/users/profile" method="post">
      <h5 class="text-xl font-medium text-gray-900">Profile</h5>
      <div class="flex flex-col items-center pb-10">
        <img
          class="mb-3 w-32 h-32 rounded-full shadow-lg"
          src="/images/user/<%= userProfile.profileImage %>"
          alt="User Image"
        />
      </div>
      <div class="grid xl:grid-cols-2 xl:gap-6">
        <div>
          <label for="name" class="block mb-2 text-sm font-medium text-gray-900"
            >Name</label
          >
          <input
            type="text"
            name="name"
            id="name"
            class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5"
            value="<%= userProfile.name %>"
          />
          <p id="nameError" class="hidden mt-2 text-sm text-red-600">
            Please provide a valid name.
          </p>
        </div>
        <div>
          <label
            for="email"
            class="block mb-2 text-sm font-medium text-gray-900"
            >Email</label
          >
          <input
            type="text"
            name="email"
            id="email"
            class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5"
            value="<%= userProfile.email %>"
          />
          <p id="emailError" class="hidden mt-2 text-sm text-red-600">
            Please provide a valid email.
          </p>
        </div>
        <div>
          <label
            for="password"
            class="block mb-2 text-sm font-medium text-gray-900"
            >Password</label
          >
          <input
            type="password"
            name="password"
            id="password"
            class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5"
            placeholder="**********"
          />
          <p id="passwordError" class="hidden mt-2 text-sm text-red-600">
            Please provide a valid password.
          </p>
        </div>
        <div>
          <label
            for="phoneNumber"
            class="block mb-2 text-sm font-medium text-gray-900"
            >Phone Number</label
          >
          <input
            type="number"
            name="phoneNumber"
            id="phoneNumber"
            class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5"
            placeholder="913959860"
            value="<%= userProfile.phoneNumber %>"
          />
          <p id="phoneNumberError" class="hidden mt-2 text-sm text-red-600">
            Please provide a valid phone number.
          </p>
        </div>
        <div>
          <label
            for="address"
            class="block mb-2 text-sm font-medium text-gray-900"
            >Address</label
          >
          <input
            type="text"
            name="address"
            id="address"
            class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5"
            value="<%= userProfile.address %>"
          />
          <p id="addressError" class="hidden mt-2 text-sm text-red-600">
            Please provide a address.
          </p>
        </div>
        <div>
          <label
            for="dateOfBirthday"
            class="block mb-2 text-sm font-medium text-gray-900"
            >Date Of Birthday</label
          >
          <input
            datepicker-autohide
            datepicker
            datepicker-format="mm/dd/yyyy"
            type="text"
            name="dateOfBirthday"
            id="dateOfBirthday"
            value="<%= new Date(userProfile.dateOfBirthday).toLocaleString('en', {
                  day: 'numeric', // numeric, 2-digit
                  year: 'numeric', // numeric, 2-digit
                  month: 'numeric', // numeric, 2-digit,
              }) %>"
            class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5"
            value="<%= userProfile.dateOfBirthday %>"
          />
          <p id="dateOfBirthdayError" class="hidden mt-2 text-sm text-red-600">
            Please provide a valid date Of birthday.
          </p>
        </div>
        <div>
          <label
            for="points"
            class="block mb-2 text-sm font-medium text-gray-900"
            >Points</label
          >
          <input
            disabled
            type="text"
            name="points"
            id="points"
            class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5"
            value="<%= userProfile.points %>"
          />
          <p id="pointsError" class="hidden mt-2 text-sm text-red-600">
            Please provide a valid points.
          </p>
        </div>
      </div>
      <div class="mt-5">
        <button
          id="addBook"
          type="submit"
          class="w-full text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center"
        >
          Edit
        </button>
      </div>
    </form>
  </div>
</div>

<% if(typeof error != 'undefined') { %>
<div class="absolute top-5 right-5 flex justify-end space-y-2">
  <div
    id="toast-danger"
    class="flex items-center w-full max-w-xs p-4 mb-4 text-gray-500 bg-white rounded-lg shadow dark:text-gray-400 dark:bg-gray-800"
    role="alert"
  >
    <div
      class="inline-flex items-center justify-center flex-shrink-0 w-8 h-8 text-red-500 bg-red-100 rounded-lg dark:bg-red-800 dark:text-red-200"
    >
      <svg
        class="w-5 h-5"
        fill="currentColor"
        viewBox="0 0 20 20"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          fill-rule="evenodd"
          d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z"
          clip-rule="evenodd"
        ></path>
      </svg>
    </div>
    <div class="ml-3 text-sm font-normal"><%= error %></div>
    <button
      type="button"
      class="ml-auto -mx-1.5 -my-1.5 bg-white text-gray-400 hover:text-gray-900 rounded-lg focus:ring-2 focus:ring-gray-300 p-1.5 hover:bg-gray-100 inline-flex h-8 w-8 dark:text-gray-500 dark:hover:text-white dark:bg-gray-800 dark:hover:bg-gray-700"
      data-dismiss-target="#toast-danger"
      aria-label="Close"
    >
      <span class="sr-only">Close</span>
      <svg
        class="w-5 h-5"
        fill="currentColor"
        viewBox="0 0 20 20"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          fill-rule="evenodd"
          d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z"
          clip-rule="evenodd"
        ></path>
      </svg>
    </button>
  </div>
</div>
<% } else if(typeof success != 'undefined') { %>
<div class="absolute top-5 right-5 flex justify-end space-y-2">
  <div
    id="toast-success"
    class="flex items-center w-full max-w-xs p-4 mb-4 text-gray-500 bg-white rounded-lg shadow dark:text-gray-400 dark:bg-gray-800"
    role="alert"
  >
    <div
      class="inline-flex items-center justify-center flex-shrink-0 w-8 h-8 text-green-500 bg-green-100 rounded-lg dark:bg-green-800 dark:text-green-200"
    >
      <svg
        class="w-5 h-5"
        fill="currentColor"
        viewBox="0 0 20 20"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          fill-rule="evenodd"
          d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z"
          clip-rule="evenodd"
        ></path>
      </svg>
    </div>
    <div class="ml-3 text-sm font-normal">User edited successfully.</div>
    <button
      type="button"
      class="ml-auto -mx-1.5 -my-1.5 bg-white text-gray-400 hover:text-gray-900 rounded-lg focus:ring-2 focus:ring-gray-300 p-1.5 hover:bg-gray-100 inline-flex h-8 w-8 dark:text-gray-500 dark:hover:text-white dark:bg-gray-800 dark:hover:bg-gray-700"
      data-dismiss-target="#toast-success"
      aria-label="Close"
    >
      <span class="sr-only">Close</span>
      <svg
        class="w-5 h-5"
        fill="currentColor"
        viewBox="0 0 20 20"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          fill-rule="evenodd"
          d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z"
          clip-rule="evenodd"
        ></path>
      </svg>
    </button>
  </div>
</div>
<% } %>

<script src="/javascripts/profile.js"></script>
<script src="/flowbite/dist/datepicker.js"></script>
